<!-- Footer -->
<div class="text-gray-500 py-4">


	<div class="text-center md:flex md:justify-around leading-10">

		<div class ="flex justify-around md:justify-between">
			<!-- Liens Site-->
			<div class="flex flex-col md:px-10">

				<a href="{{ path('recipe_list') }}" class="text-sm sm:text-base py-2 hover:text-yellow-600">Recettes</a>

				{% if app.user %}
			<a href="{{ path('account') }}" class="block py-2 px-4 text-sm sm:text-base hover:text-yellow-600">{{ app.user.pseudo }}</a>
		{% else %}
			<a href="{{ path('app_login') }}" class="block py-2 px-4 text-sm sm:text-base hover:text-yellow-600">Connexion</a>
			<a href="{{ path('app_register') }}" class="block py-2 px-4 text-sm sm:text-base hover:text-yellow-600"> Inscription</a>
		{% endif %}

			</div>


			<!--Liens Infos-->
			<div class="flex flex-col md:px-10">

				<a href="#" class="text-sm sm:text-base py-2 hover:text-yellow-600">Mentions légales</a>

				<a href="{{ path('contact') }}" class="text-sm sm:text-base py-2 hover:text-yellow-600">Contacts</a>

			</div>
		</div>

		<!-- Entreprise -->
		<div class="flex flex-col text-sm sm:text-base">

			<h3>Webforce3</h3>

			<p>105 Avenue de la République</p>

			<P>59110 La Madeleine</p>

			<p>0 805 62 23 45</p>

		</div>

		<!--Socials Networks-->
		<div class="md:flex items-center py-2 mt-4">

			<a href="https://www.instagram.com/webforce3/">
				<i class="fab fa-instagram fa-2x p-3 mx-2 border-2 rounded-md border-gray-500 hover:border-yellow-600 hover:text-yellow-600"></i>
			</a>

			<a href="https://www.facebook.com/webforce3/">
				<i class="fab fa-facebook fa-2x p-3 mx-2 border-2 rounded-md border-gray-500 hover:border-yellow-600 hover:text-yellow-600"></i>
			</a>

			<a href="https://www.linkedin.com/school/webforce3/?originalSubdomain=fr">
				<i class="fab fa-linkedin-in fa-2x p-3 mx-2 border-2 rounded-md border-gray-500 hover:border-yellow-600 hover:text-yellow-600"></i>
			</a>

			<a href="https://twitter.com/WebForce3">
				<i class="fab fa-twitter fa-2x p-3 mx-2 border-2 rounded-md border-gray-500 hover:border-yellow-600 hover:text-yellow-600"></i>
			</a>
		</div>
	</div>