<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %} - M'Cooking</title>
        {# Run `composer require symfony/webpack-encore-bundle`
        and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link href="{{ asset('js/tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet">
        {% endblock %}

    </head>
    <body>
        <header class="bg-gradient-to-b from-gray-900 to-gray-600">{% include('partials/_header.html.twig') %}</header>

        <div class="container mx-auto">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="bg-{{label}}-100 border-l-4 border-{{label}}-500 text-{{label}}-700 p-4" role="alert">
                        <p class="font-bold">Information</p>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block body %}{% endblock %}

        <footer class="bg-gradient-to-t from-gray-900 to-gray-600 pt-8">{% include('partials/_footer.html.twig') %}</footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="{{ asset("js/tagsinput/bootstrap-tagsinput.min.js") }}"></script>
            <script src="{{ asset("js/typehead.js") }}"></script>
            <script src="{{ asset("js/main.js") }}"></script>
             <script src="{{ asset("js/_header.js") }}"></script>
        {% endblock %}
    </body>
</html>
